*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bg-color: #f3efec;
  --text-color: #312a4e;
  --accent-color: #ffab6b;
  --main-font: Raleway;
  --accent-font: 'STIX Two Text';
}

.page {
  margin: 0;
  color: var(--text-color, #312a4e);
  font-family: var(--main-font, sans-serif);
  background-color: var(--bg-color, #f3efec);
  min-inline-size: 360px;
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

.heading {
  font-family: var(--accent-font), serif;
  font-weight: 600;
  line-height: 0.9;
  text-align: center;
}

.content-section {
  padding: 0 5vi; /* viewport inline (vi), 18/360=72/1440=0.05 */
}

.header {
  padding-block-start: 10vi;
}

.header__title {
  margin-block-end: 40px;
  font-size: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);
}

.content__title {
  margin-block-start: 7vi;
  margin-block-end: 2.5vi;
  font-size: 30px;
}

.content__text-block {
  font-size: 18px;
}

.content__text-block > * + * {
  margin-block-start: 1.5em;
}

.content__text-block_type_first-lettered
  > .content__paragraph:first-child::first-letter {
  display: inline-block;
  font-size: 30px;
  font-weight: 700;
  padding: 0 4px;
  margin-inline-end: 5px;
  background-color: var(--accent-color);
}

.content__link {
  color: currentColor;
}

.content__blockquote {
  margin-inline-start: auto;
  inline-size: 75%;
  font-style: italic;
  line-height: 2;
}

.content__list {
  padding: 0 0 0 40px;
  list-style: none;
}

.content__list > * + * {
  margin-block-start: 10px;
}

.content__list-item {
  position: relative;
}

.content__list-item::before {
  content: '';
  position: absolute;
  inline-size: 15px;
  block-size: 15px;
  margin-block-start: -7.5px;
  background-image: url(../images/marker-light.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  inset-block-start: 50%;
  inset-inline-start: -25px;
}

.content__figure {
  position: relative;
  margin: 7vi auto;
  inline-size: calc(100% + 10vi);
  inset-inline-end: 5vi;
}

.content__picture {
  inline-size: 100%;
}

.content__picture-caption {
  border-block-end: 1px solid currentColor;
  font-size: 18px;
  padding: 20px;
  text-align: center;
}
